<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户列表</title>
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<h1 th:text="${hello}">Hello, Spring admin!</h1>
<table>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>账号</th>
        <th>密码</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.uid}">0</td>
        <td th:text="${user.userName}">zhansan</td>
        <td th:text="${user.userAccount}">1988-06-01</td>
        <td th:text="${user.password}">12345</td>
    </tr>
</table>

<select>
    <option th:each="user:${userList}" th:value="${user.uid}" th:text="${user.userName}">我是默认值</option>
</select>

</body>
</html>