<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
	<!-- Add Title -->
    <title>Admin Theme Template</title>
    
	#parse("control/cmn/admin_top_assets.vm")
	
	<!-- Add this page owned css -->
	
</head>

<body>
    <div id="wrapper">
    
    	#parse("control/cmn/admin_top_nav.vm")
    	#parse("control/cmn/admin_left.vm")
    	
        <div id="page-wrapper">
            <div class="container-fluid">
                
                <!-- tab -->
               
                <!-- Add your page content here -->
            </div>
        </div>
    </div>

	<!-- Add this page owned js -->

	#parse("control/cmn/admin_footer_assets.vm")
</body>
</html>
