<!-- title -->
<div style="width:20%;position: fixed;right: 0;top: 0;">
	<p style="border:1px dashed #ccc;"></p>
	<div style="padding:5px 10px;">
		<p>题目简述：<span style="font-size:12px;">$!{currentTopic.descTxt}</span></p>
	</div>
	<p style="border:1px dashed #ccc;"></p>
	<div style="padding:5px 10px;">
		<p>奖金金额：<span style="font-size:12px;">$!{currentTopic.money}元</span></p>
	</div>
	<p style="border:1px dashed #ccc;"></p>
	<div style="padding:5px 10px;">
		<p>答题时间：<span style="font-size:12px;">$!{currentTopic.countdown}s</span></p>
	</div>
	<p style="border:1px dashed #ccc;"></p>
	<div style="padding:5px 10px;">
		<p>正确答案：<span style="font-size:15px;">$!{currentTopic.answer}</span></p>
	</div>
	<p style="border:1px dashed #ccc;"></p>
	
	
	<form action="#" method="post" accept-charset="utf-8" style="margin-top:18px;">   
     <table class="table">
     	#if($currentTopic)
	        <tr>
	        	<td>
		       	  <input type="text" name="name" style="width:160px;font-size:11px;" id="delisuccessrobots" value="" class="form-control" placeholder="增量投放[正确]机器人" />
		        </td>
		        <td>
		        	<a href="#" class="btn btn-default navbar-btn chour" data-topicId="$!{currentTopic.topicId}"  data-action="delisuccessrobots" style="margin-top:0px;">投放</a>
		        </td>
	        </tr>
	        <tr>
		        <td>
		       	  <input type="text" name="name" style="width:160px;font-size:11px;" value="" id="delierrrobots" class="form-control" placeholder="增量投放[错误]机器人" />
		        </td> 
		        <td>
		        	<a href="#" class="btn btn-default navbar-btn chour" data-topicId="$!{currentTopic.topicId}" data-action="delierrrobots"  style="margin-top:0px;">投放</a>
		        </td>
	        </tr> 
        #end
        <tr>
	        <td>
	       	  <input type="text" name="name" style="width:160px;font-size:11px;" id="systip" value="" class="form-control" placeholder="直播中系统消息" />
	        </td>
	        <td>
	        	<a href="#" class="btn btn-default navbar-btn chour" data-topicId="$!{currentTopic.topicId}" data-action="systip" style="margin-top:0px;">发送</a>
	        </td>   
        </tr> 
      </table> 
     </form>
    
</div>